/* https://coolors.co/f6285b-58355e-7ae7c7-d6ffb7-fff689 */

:root {
    --white: white;
    --light: #ccc;
    --dark: #333;

    --yellow: #f4c73f;
    --green: #a2b55a;
    --blue: #4596d3;
    --purple: #aa6f6f;
    --orange: #f4753f;

    --primary: var(--orange);

    --soft-yellow: #f4cd58;
    --soft-green: #a5b56c;
    --soft-blue: #5b9fd3;
    --soft-purple: #aa8080;
    --soft-orange: #f48758;


    --success-color: var(--green);
    --warning-color: var(--yellow);
    --danger-color: var(--orange);

    --default-margin: 0.5rem;
    --default-padding: 0.5rem;

    --default-radius: 0.5rem;
}

* {
    box-sizing: border-box;
}

html {
    font-family: sans-serif;
}

header{
    background-color: #CF5C36;
}


div.top-header{
    display: flex;
    height: 80px;
    width: 100%;
    background-color: #CF5C36;
}

header .logo{
    width: 20%;
    padding-left: 2px;
    float:left;
    margin-bottom:2px;
}

header .logo2{
    width: 80%;
    padding-left: 40px;
    float:left;
    margin-bottom:2px;
}

header .menu{
    padding-left:20px;
    font-weight: lighter;
    width: 100%;
    font-size: small;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
}

header div.menu-categories{
    padding:10px;
    font-weight: lighter;
    column-gap: 25px;
    width: 65%;
    color: red;
    font-size: small;
    padding-left: 50px;
    display: flex;
    justify-content: flex-start;
    align-items:center;
}

header div.menu-service{
    column-gap: 25px;
    width: 10%;
    color: #2B2D42;
    font-size: small;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: #EEE5E9;
    font-weight: bold;
    border-radius: 7px;
    padding: 5px 25px 5px 25px;
    
}

a:link {
    color: white;
    text-decoration: none;
  }

a:visited {
    color: white;
    text-decoration: none;
}

header nav{
    font-size: 15px;
    margin-left: 16px;
    display: flex;
    flex-direction: row;
    float: bottom;
    padding: 10px;
}

header ul li{
    list-style-type: none;
}

header ul li a{
    text-decoration: none;
    color: #000;
}

header .form .input{
    background-color: #FFF;
    border: 1px solid rgb(156, 156, 156);
    outline: none;
    color: #666;
    padding: 2px;
    width: 600px;
    height: 25px;
    padding-left: 10px;
    padding-top: 7px;
    border-radius: 10px;
}

header .form .submit{
    background-color: #FFF;
    border: 1px solid #000;
    color: #666;
    width: 10%;
}

header div.top-header p{
    width: 100%;
    text-align: center;
    margin-top: 10px;
}


body{
    margin: 0;
    font-family: sans-serif,'Roboto';
}

a {
    text-decoration: none;
    color: var(--blue);
}

a.button { color: #333; }

/* Helpers */

.is-rounded { border-radius: 90%; }

/* Contenedores */

.container { padding: 0 2rem; }

/* Sistema de grillas */

.columns {
    margin-left: calc(-1 * var(--default-margin));
    margin-right: calc(-1 * var(--default-margin));
    margin-top: calc(-1 * var(--default-margin));
}

.columns.is-multiline { flex-wrap: wrap; }
.columns.is-centered { justify-content: center; }
.columns.is-vcentered { align-items: center; }

.column {
    display: block;
    flex-grow: 1;
    flex-shrink: 1;
    padding: var(--default-padding);
}

/* Columnas de tablet para arriba */

@media (min-width: 769px) {
    .columns { display: flex; }

    .column.is-1 { flex: none; width: 8.33333% }
    .column.is-2 { flex: none; width: 16.66667% }
    .column.is-3 { flex: none; width: 25% }
    .column.is-4 { flex: none; width: 33.33333% }
    .column.is-5 { flex: none; width: 41.66667% }
    .column.is-6 { flex: none; width: 50% }
    .column.is-7 { flex: none; width: 58.33333% }
    .column.is-8 { flex: none; width: 66.66667% }
    .column.is-9 { flex: none; width: 75% }
    .column.is-10 { flex: none; width: 83.33333% }
    .column.is-11 { flex: none; width: 91.66667% }
    .column.is-12 { flex: none; width: 100% }
}

/* Tamaños para desktop */

@media (min-width: 1024px) {
    .columns { display: flex; }

    .column.is-1-desktop { flex: none; width: 8.33333% }
    .column.is-2-desktop { flex: none; width: 16.66667% }
    .column.is-3-desktop { flex: none; width: 25% }
    .column.is-4-desktop { flex: none; width: 33.33333% }
    .column.is-5-desktop { flex: none; width: 41.66667% }
    .column.is-6-desktop { flex: none; width: 50% }
    .column.is-7-desktop { flex: none; width: 58.33333% }
    .column.is-8-desktop { flex: none; width: 66.66667% }
    .column.is-9-desktop { flex: none; width: 75% }
    .column.is-10-desktop { flex: none; width: 83.33333% }
    .column.is-11-desktop { flex: none; width: 91.66667% }
    .column.is-12-desktop { flex: none; width: 100% }
}

.column.is-narrow { flex: none; }

/* Formularios */

.form.is-inline { display: inline-block; }

input,
textarea,
select,
button,
.button {
    padding: var(--default-padding);
    border: 1px solid var(--light);
    background-color: var(--white);
    border-radius: var(--default-radius);
    font-size: 1rem;
}

input.is-success,
textarea.is-success,
select.is-success,
button.is-success,
.button.is-success { border-color: var(--success-color);}

input.is-warning,
textarea.is-warning,
select.is-warning,
button.is-warning,
.button.is-warning { border-color: var(--warning-color);}

input.is-danger,
textarea.is-danger,
select.is-danger,
button.is-danger,
.button.is-danger { border-color: var(--danger-color);}

.button { 
    display: inline-block; 
    cursor: pointer;
}

.buttons { 
   display: flex;
   flex-wrap: wrap;
}

.buttons .button { margin-right: var(--default-margin);}

input,
textarea,
select { width: 100%; }

.feedback {
    margin-top: .25rem;
    font-size: .9rem;
}

.field:not(:last-child) { margin-bottom: 1rem;}

.field label {
    display: block;
    margin-bottom: .25rem;
}

.feedback.is-success { color: var(--success-color); }
.feedback.is-warning { color: var(--warning-color); }
.feedback.is-danger { color: var(--danger-color); }

/* Cards */

.card {
    display: flex;
    margin-bottom: 1rem;
    border-radius: var(--default-radius);

    box-shadow: 3px 3px 3px 0px rgba(0,0,0,0.15);
}
    .card-left {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        width: 30%;
        padding: 1rem;
        
        background-color: #cf5c36ff;
        color: white;
        text-align: center;
        
        border-radius: var(--default-radius) 0 0 var(--default-radius);
    }

    .card-left figure {
        height: 120px;
        width: 120px;
        margin: 0;

        overflow: hidden;
    
        border-radius: 50%;
        background-color: white;
    }

    .card-left figure img {
        width: 100%;
    }

    .card-content {
        width: 70%;
        padding: 1rem;

        background-color: #E6E6E6;
        
        border-radius: 0 var(--default-radius) var(--default-radius) 0;
    }


main {
    padding: 1rem;
}


.footer-text{
    padding-left: 70px;
    padding-top: 17px;
    text-align: left;
    font-size: 18px;
    float: left;
    color: grey;
}
.rounded-social-buttons {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 70px;
    text-align: right;
    background-color: white;
}

.rounded-social-buttons .social-button {
  display: inline-block;
  position: relative;
  cursor: pointer;
  width: 3.125rem;
  height: 3.125rem;
  border: 0.125rem solid transparent;
  padding: 0;
  text-decoration: none;
  text-align: center;
  color: #fefefe;
  font-size: 1.5625rem;
  font-weight: normal;
  line-height: 2em;
  border-radius: 1.6875rem;
  transition: all 0.5s ease;
  margin-right: 0.25rem;
  margin-bottom: 0.25rem;
}

.rounded-social-buttons .fa-twitter, .fa-facebook-f, .fa-linkedin, .fa-youtube, .fa-instagram {
  font-size: 25px;
}

.rounded-social-buttons .social-button.facebook {
  background: #CF5C36;
}

.rounded-social-buttons .social-button.facebook:hover, .rounded-social-buttons .social-button.facebook:focus {
  color: #CF5C36;
  background: #fefefe;
  border-color: #CF5C36;
}

.rounded-social-buttons .social-button.twitter {
  background: #CF5C36;
}

.rounded-social-buttons .social-button.twitter:hover, .rounded-social-buttons .social-button.twitter:focus {
  color: #CF5C36;
  background: #fefefe;
  border-color: #CF5C36;
}

.rounded-social-buttons .social-button.linkedin {
  background: #CF5C36;
}

.rounded-social-buttons .social-button.linkedin:hover, .rounded-social-buttons .social-button.linkedin:focus {
  color: #CF5C36;
  background: #fefefe;
  border-color: #CF5C36;
}

.rounded-social-buttons .social-button.youtube {
  background: #CF5C36;
}

.rounded-social-buttons .social-button.youtube:hover, .rounded-social-buttons .social-button.youtube:focus {
  color: #CF5C36;
  background: #fefefe;
  border-color: #CF5C36;
}

.rounded-social-buttons .social-button.instagram {
  background: #CF5C36;
}

.rounded-social-buttons .social-button.instagram:hover, .rounded-social-buttons .social-button.instagram:focus {
  color: #CF5C36;
  background: #fefefe;
  border-color: #CF5C36;
}













