<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Hire from Become GIG</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://fonts.googleapis.com/css2?family=Lato:display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
        <link rel="stylesheet" href="css/styles.css">
    </head>
    <body>
        <header>
            <div class="header">
                <div class="main-header">
                    <div class="main-header-top-bar">
                        <div class="logo-search">
                            <div> <a class="logo" href="/index"><img src="images/logo-become-gig.png" class="logo"> </a></div>
                        <form action="#" method="GET">
                            <input type="text" placeholder="Search Keyword" class="search-field">
                            <button type="submit" class="fa fa-search search-button" aria-hidden="true"></button>
                        </form>
                        </div> 
                    <div class="menu-service">
                        <ul>Register</ul>
                        <ul> | </ul>
                        <ul>Login</ul>
                    </div>                         
                </div>
            </div>
    
        </header>
    </body>
</html>

<body>
    <header>
        <div class="top-header">
            <div class="logo"> 
                <img src="images/img-logo.png" alt="Logo de Become Gig">
            </div>

            <div class="menu">
                <div class="menu-categories">
                    <ul><a href="#">Graphic & Design</a></ul>
                    <ul><a href="#">Digital Marketing</a></ul>
                    <ul><a href="#">Programming & Tech</a></ul>
                    <ul><a href="#">Writing & Translation</a></ul>
                    <ul><a href="#">Video & Animation</a></ul>
                </div>
                <div class="menu-service">
                    <ul>Register</ul>
                    <ul>Login</ul>
                </div>
            </div> 
            </div>

    </header>
    <section class="banner">
        <img src="images/img-banner-hero-freelancer.jpg" alt="Banner Principal">
        <img src="images/img-banner-hero-empresa.jpg" alt="Banner Principal">
    </section>
    <main>
        <section class="last-visit">
            <h3>Recommended Profiles</h3>
            <div class="dropdown">
                <button class="dropbtn">Order by</button>
                <div class="dropdown-content">
                  <a href="#">Rating</a>
                  <a href="#">Skills</a>
                  <a href="#">Seniority</a>
                </div>
              </div>
            <div class="products">
                <article>
                    <img src="images/pers-nose.jpg" alt="Cafetera" class="product_img">
                </article>
                <article>
                    <img src="images/pers-nose.jpg" alt="MacBook" class="product_img">
                </article>
                <article>
                    <img src="images/pers-nose.jpg" alt="Teléfono Móvil Samsung Galaxy" class="product_img">
                </article>
                <article>
                    <img src="images/pers-nose.jpg" alt="SmartTv Samsung" class="product_img">
                </article>
                <article>
                    <img src="images/pers-nose.jpg" alt="SmartTv Samsung" class="product_img">
                </article>
                <article>
                    <img src="images/pers-nose.jpg" alt="SmartTv Samsung" class="product_img">
                </article>
                <article>
                    <img src="images/pers-nose.jpg" alt="SmartTv Samsung" class="product_img">
                </article>
                <article>
                    <img src="images/pers-nose.jpg" alt="SmartTv Samsung" class="product_img">
                </article>
            </div>
        </section>
        <section class="offers">
            <h3>Who hires using Become-GIG?</h3>
            <div class="products">
                <article>
                    <img src="images/img-empresa-1.png" alt="Cafetera" class="product_img">
                </article>
                <article>
                    <img src="images/img-empresa-2.png" alt="Cafetera" class="product_img">
                </article>
                <article>
                    <img src="images/img-empresa-3.png" alt="Cafetera" class="product_img">
                </article>
                <article>
                    <img src="images/img-empresa-4.png" alt="Cafetera" class="product_img">
                </article>
                <article>
                    <img src="images/img-empresa-5.png" alt="Cafetera" class="product_img">
                </article>
                <article>
                    <img src="images/img-empresa-6.png" alt="Cafetera" class="product_img">
                </article>
                <article>
                    <img src="images/img-empresa-7.png" alt="Cafetera" class="product_img">
                </article>
                <article>
                    <img src="images/img-empresa-8.png" alt="Cafetera" class="product_img">
                </article>

                
            </div>  
        </section>
    </main>
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/all.js" integrity="sha384-xymdQtn1n3lH2wcu0qhcdaOpQwyoarkgLVxC/wZ5q7h9gHtxICrpcaSUfygqZGOe" crossorigin="anonymous"></script>
   <%- include ('./partial.footer') %>


</body>
</html>

    