<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Hire from Become GIG</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://fonts.googleapis.com/css2?family=Lato:display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
        <link rel="stylesheet" href="css/styles.css">
    </head>
    <body>
        <header>
            <div class="header">
                <div class="main-header">
                    <div class="main-header-top-bar">
                        <div class="logo-search">
                            <div> <a class="logo" href="/index"><img src="images/logo-become-gig.png" class="logo"> </a></div>
                        <form action="#" method="GET">
                            <input type="text" placeholder="Search Keyword" class="search-field">
                            <button type="submit" class="fa fa-search search-button" aria-hidden="true"></button>
                        </form>
                        </div> 
                    <div class="menu-service">
                        <ul>Register</ul>
                        <ul> | </ul>
                        <ul>Login</ul>
                    </div>                         
                </div>
            </div>
    
        </header>
    </body>
</html>
   

    