<!DOCTYPE html>
<html>
    <body>
        <head>
            <meta charset="UTF-8">
            <title>Hire from Become GIG</title>
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <link href="https://fonts.googleapis.com/css2?family=Lato:display=swap" rel="stylesheet">
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
            <link rel="stylesheet" href="css/styles.css">
        </head>

        <div class="hero-image">
            <img class="avatar" src="images/avatar2.jpg" alt="Avatar" > </img>
                <div class="hero-text">
                    <h1>I am Mago</h1>
                    <p>And I'm a Data Scientist</p>
                    <button class="button-hire">Hire me</button>
                </div>
        </div>
   
    <footer>
        <div class="rounded-social-buttons">
            <p class="footer-text">© Become GIG International Ltd. 2021</p>
            <a class="social-button facebook" href="https://www.facebook.com/" target="_blank"><i class="fab fa-facebook-f"></i></a>
            <a class="social-button twitter" href="https://www.twitter.com/" target="_blank"><i class="fab fa-twitter"></i></a>
            <a class="social-button linkedin" href="https://www.linkedin.com/" target="_blank"><i class="fab fa-linkedin"></i></a>
            <a class="social-button youtube" href="https://www.youtube.com/" target="_blank"><i class="fab fa-youtube"></i></a>
            <a class="social-button instagram" href="https://www.instagram.com/" target="_blank"><i class="fab fa-instagram"></i></a>
        </div>
</footer>
</body>
    </html>

